body {
    background-color: #0E1825;
    height: 100%;
    color: white;
}

img {
    border-radius: 5px;
}

.content {
    margin: 30px 0px;
}

button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.enter {
    background-color: cyan;
}

.exit {
    background-color: red;
}

section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}



h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
}

input {
    border-radius: 5px;
    border: none;
    padding: 15px 2px;
    margin-right: 10px;
}

