@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
    margin: 0;
}

header {
    background-color: #f4511e;
}

nav li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav li {
    float: left;
}

nav ul {
    float: right;
    list-style: none;
}

nav {
    font-size: 12px;
    letter-spacing: 4px;
    height: 50px;
    background-color: #ff5e00;
    padding-right: 40px;
}

section, footer {
    margin: 40px;
}

h1 {
    font-size: 63px;
    color: #303030;
    padding: 15px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

table {
    width: 100%;
}

table td {
    color: #303030;
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: #e9e9e9;
}

table tr:nth-child(odd) {
    background-color: #dddddd;
}

table thead th {
    background-color: #f4511e;
    color: white;
}

#pacotes .figuras figure {
    display: inline-block;
}

#pacotes .figuras, .videos {
    text-align: center;
}

